.estadi {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.estadi h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.estadi p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}

.form-estadi {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-estadi label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.form-estadi input[type="text"],
.form-estadi input[type="number"],
.form-estadi select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-estadi button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-estadi button:hover {
    background-color: #0056b3;
}

a{
    border: solid 1px #007bff;
    padding: 10px 20px;
}

footer{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1{
    text-align: center;
    margin: 20px;
}